@tailwind base;
@tailwind components;
@tailwind utilities;

.bar-text {
    @apply my-2 text-sm leading-5 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:mx-4 md:my-0
}
body {
    @apply m-0 bg-base-100 font-sans text-base antialiased font-normal
}
.menu :where(li) > :where(*:not(ul)) {
    @apply py-2
}
.btn-sm {
    min-height: 2.5rem;
    height: 2.5rem;
}

.blog h2 {
     font-size: 2rem;
     font-weight: 600;
     line-height: 1.2;
     margin: 1rem 0;
     color: var(--fallback-in,oklch(var(--in)/var(--tw-bg-opacity)));
}
.blog h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}
.blog p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 1rem 0;
    word-break: break-all;
}
.blog li {
    font-size: 1.25rem;
    line-height: 1.5;
}
.blog b {
    color: var(--fallback-in,oklch(var(--in)/var(--tw-bg-opacity)));
}
.skd-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis
}

@font-face {
    font-family: 'Bender';
    src: url("./fonts/Bender-Bold.woff2");
}
@font-face {
    font-family: 'FarNorthRunes';
    src: url("./fonts/FarNorthRunes-Heavy.woff2");
}
@font-face {
    font-family: 'OctinSpraypaint';
    src: url("./fonts/OctinSpraypaintARg-Regular.woff2");
}
@font-face {
    font-family: 'SmileySans';
    src: url("./fonts/SmileySans-Oblique.ttf.woff2");
}
@font-face {
    font-family: 'SpecialElite';
    src: url("./fonts/SpecialElite-Regular.woff2");
}